body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
.container {
  border-radius: 10px;
  box-shadow: 0 7px 29px 0px rgba(100, 100, 111, 0.2);
  background-color: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 60px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 24px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
}
.date {
  opacity: 0.7;
  font-size: 20px;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
